body {
  font-family: 'Roboto','Roboto Slab','Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.Navbar-links {
  font-weight: bold;
  color: aliceblue;
}

.Navbar-links:hover {
  border-bottom: 2px solid #424242;
}

.active {
  border-bottom: 2px solid #424242;
}